body {

    background-image: url("546902.jpg");
height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gugi';
    font-size: 22px;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}

.tit {
    margin-top: 20vh;
    align-self: center;


}

.tit > h1 {
    align-self: center;
    margin-left: 230px;
    font-size: 60px;
}
input {
    margin: 10;
    border: 60;
    border-radius: 12px;
    width: 173px;
    padding: 10px;
    float: left;
    font-size: 16px;
    opacity: 0.6;
    margin-bottom: 20px;
  }
 .tpk{
    width: 330px;
    font-family: 'Gugi';   
  }
.dt{
    width: 210px;
    font-family: 'Gugi';
}
.addbtn {
    padding: 10px;
    width: 25%;
    background: #0f0e0e;
    color: rgb(237, 231, 231);
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0;
    margin-left: 300px;
    align-self: center;
  }
  .footer{
    display: flex;
    justify-content: space-between;
  }
  .clrall{
    font-family: 'Gugi';
    width: 200px;
    padding: 8px;
    font-size: large;
    cursor: pointer;
 
    align-self: auto;
    align-items: center ; 
    margin-bottom: auto; 
  }

  ul {
    list-style: none;
  }

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgba(153, 153, 153, 0.7);
    border-radius: 12px;
    font-size: 18px;
    transition: 0.2s;
  
  }
  .checked {
    background: rgb(140, 222, 140);
    opacity: 0.6;
  } 
  .topic{
    display: flex;
    justify-content: space-between;
  }
.drpbtn{
  display: flex;
  justify-content: space-between;
}
.attachment-container {
  position: relative;
}
#tro{
  position:fixed;
  bottom: 20px;
  right: 10px;

  border-radius: 102px;
  background-color: cadetblue;
  padding: 1rem;
  color: #555;
  font-size: 1.5rem;
  transition: 0.3s;
  opacity: 0.6;
}
#tro:hover{
  text-shadow: #555;
  background-color: black;
  color: white;
  transition: 1s;
  opacity: 1;
}

.attachment-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  cursor: pointer;
}
.attachment-btn i {
  color:#000 ;
  font-size: 30px;
  background-color: #f2f2f2;
  border-radius: px;
}
.attachment-dropdown {
  position: fixed;
  bottom: 85px;
  right: 20px;
  width: 50px;
  height: 0;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.3s ease;
}
.attachment-dropdown.open {
  height: 110px;
}
.attachment-dropdown button {
  border: none;
  background-color: transparent;
  color: #000;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.attachment-dropdown button:hover {
  background-color: #f2f2f2;
}
.attachment-dropdown button i {
  margin-right: 10px;
}
  








 

  